<%- include("header") -%>  
    <h2>This is About Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis illo ex rem aliquid, assumenda nemo doloribus. Dicta cupiditate exercitationem maxime placeat commodi ut? Doloribus amet tempore quibusdam aperiam rerum blanditiis.</p>
<%- include("footer") -%>  